{% extends 'port_main_app/base.html' %}
{% load staticfiles %}

{% block primary %}

  <html>
    <head>
      <meta charset="utf-8">
      <title>Angry Dice</title>
      <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
      <div class="w3-container">
        <div class="w3-row">
          <div class="w3-col w3-container m10">
            <header class="w3-container w3-deep-orange">
              <h1>Angry Dice!</h1>
            </header>
          </head>
          <body>
            <table width="80%">
              <thead>
                <tr>
                  <td>
                    <button id="dice1keep">Roll Die 1</button>
                  </td>

                  <td>
                    <button id="dice2keep">Roll Die 2</button>
                  </td>
                </tr>
              </thead>
              <div class="w3-container">
                <tbody id="Dice">
                  <tr>
                    <div class="w3-container">
                      <td>
                        <img src="{% static 'port_main_app/projects/angrydice/3.png' %}"></img>
                      </td>
                    </div>
                    <div class="w3-container">
                      <td>
                        <img src="{% static 'port_main_app/projects/angrydice/3.png' %}"></img>
                      </td>
                    </div>
                    <td>Stage:1</td>
                    <td>Number of rolls:0</td>
                  </tr>

                </tbody>
              </div>

            </table>

            <button id="play">Roll Both Dice</button>
            <button id="reset">Reset Game and Roll Again</button>

            <br><br>

            <!-- <header class="w3-container w3-deep-orange"> -->
            <h1>Rules</h1>
            <!-- </header> -->

            <p>This project allows a user to play Angry Dice in the web browser.</p>

            <p>The browser enforces the rules of the game, progressing through the three stages for the user, and moving them back to Stage 1 when they roll double Angry faces.</p>

            <p>The full rules of the game are below:</p>

            <p>
              <b>The Battle</b>
            </p>
            <p>Players roll their dice at the **same time**, trying to get from 1 to 6 the fastest. The first to do so wins!</p>

            <p>
              <b>The Details</b>
            </p>
            <p>Each player needs two Angry Dice. Players roll their dice, looking to complete Stage 1, then Stage 2, then Stage 3. When each Stage is complete, the player must declare it out loud.</p>

            <p>
              <b>Stage 1</b>
            </p>
            <p>One die showing 1 pip, another showing 2 pips.</p>

            <p>
              <b>Stage 2</b>
            </p>
            <p>One die showing the Angry face (which represents a 3), another showing 4 pips.</p>

            <p>
              <b>Stage 3</b>
            </p>
            <p>One die showing 5 pips, another showing 6 pips.</p>

            <p>Players do not have to perfectly roll each Stage; if a die shows one face in a set, that die is locked (left aside) and the player now rolls the other die to complete the set. EXCEPTION: The 6 die face may never be locked!</p>

            <p>
              <b>The Anger</b>
            </p>
            <p>If the dice ever show both Angry Faces, the player must START OVER from **Stage 1**.</p>

            <p>
              <b>The Victory</b>
            </p>
            <p>The first player to race through all Stages to reach Stage 3 and announces "GET ANGRY!" is declared the victor!</p>

          </div>
        </div>
        ​
        <script>
          var imagePath = "{% static 'port_main_app/projects/angrydice/' %}";
        </script>
        <script src="{% static 'port_main_app/projects/angrydice/angry.js' %}"></script>
      </body>
    </div>
  </div>
</div>
</html>

{% endblock %}
